{%- if isDraft %}
{%- set postUrl %}/draft/{{ slug | url }}{% endset -%}
<h1 style="color:red">draft</h1>
<pre>vim {{ page.inputPath }}</pre>
<hr>
{%- else %}
{%- set postUrl %}{{ slug | postPermalink(page) | url }}{% endset -%}
{%- endif %}

<article>

<h1>{{ title }}</h1>

<p><a class="post-date" href="{{ postUrl }}"><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></a></p>

{%- if link_url and link_publisher %}
<p><a href="{{ link_url | url }}">{{ link_publisher }}</a></p>
{%- endif %}

{{ page | tumble({
  photos: photos,
  video: video,
  audio: audio,
  youtube: youtube,
  vimeo: vimeo,
  tiktok: tiktok,
  soundcloud: soundcloud,
  videofile: videofile,
  twitter: twitter
}) | safe }}

{{ content | localImage(page) | safe }}

{%- for tag in tags | filterTagList -%}
{%- if not didFirstTag %}
{%- set didFirstTag %}true{% endset -%}
<p>
{% endif -%}
{%- set tagUrl %}{{ tag | tagPermalink }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}
{%- if didFirstTag %}</p>{% endif -%}

{%- if via or source %}
<div class="post-footer">

{%- if via %}
<p>Via: <a href="{{ via.url | url }}">{{via.title}}</a></p>
{%- endif %}

{%- if source %}
<p>Source: <a href="{{ source.url | url }}">{{source.title}}</a></p>
{%- endif %}

{%- endif %}

</div>

</article>

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}

<nav>
  <ul>
    {%-
      if nextPost
    %}<li>next: <a href="{{ nextPost.url | url }}">{%
      if nextPost.data.title
        %}{{ nextPost.data.title }}{%
      elseif nextPost.data.slug
        %}{{ nextPost.data.slug }}{%
      else
        %}{{ nextPost.url }}{%
      endif
    %}</a></li>{% endif %}
    {%-
      if previousPost
    %}<li>previous: <a href="{{ previousPost.url | url }}">{%
      if previousPost.data.title
        %}{{ previousPost.data.title }}{%
      elseif previousPost.data.slug
        %}{{ previousPost.data.slug }}{%
      else
        %}{{ previousPost.url }}{%
      endif
      %}</a></li>{% endif %}
  </ul>
</nav>

{%- endif %}
{%- endif %}
